$vrWhite: #FFFFFF;
$vrGreeen: #34C759;
$vrBlack: #1A1A1A;
$vrGray: rgba(255, 255, 255, 0.5);
$darkGray:  #252525;
$lightgray: #737373;
$backFon: #303030;
$foodtext: #A4A8B2;
$foodtext1: #85878C;
$gold: #F9AD3D;
$starNumber: #B3B3B3;
$boldBlack: #000000;
$blackOpacity: rgba(0, 0, 0, 0.4);
$socialmedia: #BFBFBF;